/* @override 
	http://localhost/kdb/sites/all/modules/contrib/office_hours/office_hours.css?S */

.office-hours-block .form-item label {
  display:inline;
}
.office-hours-block div {
display: inline;
}

.oh-week.element .oh-day {
	width: 25%;
	float: left;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


.oh-week.element .oh-day div.form-item,
.oh-week.element .oh-day label {
	float: left;
	margin: 0 5px 0 0;
}
